<div class="hero">
  <br />
  <div class="frosty col-xs-10 col-xs-offset-1 text-center">
    <br />
    <h1>Code and Launch your own Web Application</h1>
    <br />
    <h2>Technical skills courses from the best startups in the country</h2>
    <br />
    <%= link_to 'Learn More', courses_path, :class => 'btn btn-success' %>
    <br /><br />
  </div>
</div>
<br />
<div class="col-xs-10 col-xs-offset-1 features text-center">
  <div class ="col-sm-4">
    <br />
    <h3>Step by step video instructions on how to build an awesome web application that looks good on mobile (responsive) and is live on the internet in one fun weekend</h3>
    <br />
  </div>

  <div class="col-sm-4">
    <br />
    <h3>Learn the latest technologies used by the best startups to build and launch products fast (GitHub, Heroku, AWS, Ruby on Rails, HTML5, CSS3, ...)</h3>
    <br />
  </div>

  <div class="col-sm-4">
    <br />
    <h3>All the code snippets, cheat sheets and notes you need to continue building applications on your own after the class is over</h3>
    <br />
  </div>
</div>